@tailwind base;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans dark:bg-zinc-900 dark:text-zinc-200 mx-4;
}

h1 {
  @apply text-4xl font-bold py-4;
}

h2 {
  @apply text-2xl font-bold py-4;
}

ul li {
  @apply list-disc list-inside;
}

button {
  @apply bg-zinc-500 hover:bg-zinc-600 text-white font-bold py-2 px-4 rounded;
}
