@tailwind base;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans dark:bg-zinc-900 dark:text-zinc-200 mx-6 my-2;
}

button {
  @apply py-2 px-4 push-effect dark:pop-effect border rounded-full border-zinc-500;
}
